$darkBlue: #000000;
$white: #fdfdfd;
$blue: #3f84e5;
$orange: #fe8007;
$purple: #ab80ee;
$bk-cover: "https://firebasestorage.googleapis.com/v0/b/bloona-55051.appspot.com/o/bk-rotate2.jpg?alt=media&token=b98ba8e9-1843-4646-a6b3-9d47109d7612";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Urbanist:wght@300;400;500;600;700&display=swap');

#app {
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white;
    background-color: $darkBlue;

}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: $darkBlue !important;
}

#navBar {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.1rem;
    color: $white;
}

.ml-auto {
    margin-left: auto;
}

.orangeColor {
    color: $orange;
}

a.nav-link {
    color: $white;

    &:hover {
        color: $purple;

        & .orangeColor {
            color: $blue;
        }
    }
}

.navbar-size {
    width: 85rem;
    margin: auto;
}

.img-first-cover {
    height: 45rem;
    width: 100%;
    background-image: url($bk-cover);
    background-repeat: no-repeat, no-repeat;
}

h1 {
    font-size: calc(2.5rem + 1.5vw) !important;
}

.titleBox {
    // width: 85rem;
    width: 100%;
    padding-left: 20px !important;
    margin: auto;

    h2 {
        color: #ab80ee;
        font-weight: 300;
    }
}

.mmt-4 {
    margin-top: 70px;
}
.ml-2{
    margin-left: 20px;
}
.btnCorners {
    border-radius: 0px !important;
}

#animatedBanner {
    width: 100%;
    margin: auto;
    font-family: 'Urbanist', sans-serif;
}
.animatedBannerContainer{
    margin-left: 20px !important;
}
.vue-typer span{
    font-size: 5vw;
    color: $orange !important;
    font-weight: 300;
}
.firstText {
    font-size: 5vw;
    color: $white !important;
    font-weight: 600;
    padding-left: 20px;

}
// different font sizes according to width of displays
/* Media query for screens smaller than 600px wide */
@media (max-width: 600px) {
    .firstText,
    .vue-typer span {
        font-size: 10vw;
    }
}

/* Media query for screens between 601px and 9189px wide */
@media (min-width: 601px) and (max-width: 768px) {
    .firstText,
    .vue-typer span {
        font-size: 10vw;
    }
}
@media (min-width: 769px) and (max-width: 819px) {
    .firstText,
    .vue-typer span {
        font-size: 12vw;
    }
}
/* Media query for screens between 601px and 1200px wide */
@media (min-width: 820px) and (max-width: 1200px) {
    .firstText,
    .vue-typer span {
        font-size: 8vw;
    }
}

/* Media query for screens larger than 1200px wide */
@media (min-width: 1201px) and (max-width: 1299px){
    .firstText,
    .vue-typer span {
        font-size: 10vw;
    }
}
@media (min-width: 1300px) {
    .firstText,
    .vue-typer span {
        font-size: 7vw;
    }
}








.vue-typer .custom.caret {
    display: none;
}



.card {
    background-color: #000000 !important;
    border-radius: 0px !important;
    border: 1px solid #353434 !important;

    img {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .card-title {
        color: #3f84e5 !important;
        font-weight: 500;
        font-size: 1.6rem;
    }
}
.text-purple{
    color:$purple;
}
.text-blue{
    color: $blue;
}
.text-orange{
    color:$orange;
}
.pl-2{
    padding-left: 20px;
}